.new-flashcard-set {
  margin: auto;
  text-align: center; 
  border: 1px solid black;
}
.new-flashcard {
  padding: 1em;
  margin: auto;
  width: min-content;
  text-align: center;
  border: 2px solid darkgray;
}
.add-flashcard-button {
  margin: 0.5em;
}
.new-card-list {
  list-style-type: none;
}
.whole-page {
}