.new-flashcard-set {
  margin: auto;
  text-align: center; 
  border: 1px solid black;
}
.new-flashcard {
  padding: 1em;
  margin: auto;
  width: min-content;
  text-align: center;
  border: 2px solid darkgray;
}
.add-flashcard-button {
  margin: 0.5em;
}
.new-card-list {
  list-style-type: none;
}
.sets-list {
  list-style-type: none;
}
.collapsed-displayed-set {
  height: 4em;
  line-height: 4em;
  text-align: center;
}
.expanded-displayed-set {
  display: flex;
  justify-content: center;
}
ul.sets-list > li {
  background-color: white;
  border: 1px solid darkgray;
}
ul.sets-list > li:hover {
  background-color: lightgray;
}
ul.sets-list > li:active {
  background-color: darkgray;
}
.study-page {
  padding: 3em;
  text-align: center;
}
.current-flashcard {
  border: 2px solid darkgray;
  padding: 1em;
  margin: 1em;
}
.flashcard-navigation {
  margin: 0.5em;
}
.stop-studying {
  margin: 1.5em;
}
.nav {
  background-color: lightseagreen;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.nav li:hover {
  background-color: seagreen;
}